[mysqld]
# 基础配置
user = mysql
character-set-server=utf8mb4

# 配置 canel 伪装的从库
server-id=123 # 主库的唯一ID，不能和别的从库冲突
log-bin=mysql-bin # 开启 binlog
binlog-format=ROW # 记录主库每一行的变化
binlog-row-image=FULL
bind-address=0.0.0.0