<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.whu.medicalbackend.family.mapper.FamilyMemberMapper">

    <select id="checkUserInGroup" resultType="java.lang.Boolean">
        select count(1) from family_member where user_id = #{userId} and status = 'active' and is_deleted = '0'
    </select>

    <select id="getGroupIdByUserId" resultType="java.lang.Long">
        select group_id from family_member where user_id = #{userId} and status = 'active' and is_deleted = 0 limit 1
    </select>

    <insert id="insert" parameterType="com.whu.medicalbackend.family.entity.FamilyMember" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO family_member(group_id, user_id, role, join_time, status, is_deleted)
        VALUES(#{groupId}, #{userId}, #{role}, #{joinTime}, #{status}, 0)
    </insert>

    <select id="findActiveUserIdsByGroupId" resultType="java.lang.Long">
        SELECT user_id FROM family_member WHERE group_id = #{groupId} AND status = 'active' AND is_deleted = 0
    </select>

    <update id="updateMemberStatus">
        update family_member set status = #{status}, exit_time = #{exitTime}
        where group_id = #{groupId} and user_id = #{userId} and is_deleted = 0
    </update>
    
    <select id="getRoleInGroup" resultType="string">
        SELECT role FROM family_member WHERE group_id = #{groupId} AND user_id = #{userId} AND status = 'active' AND is_deleted = 0 LIMIT 1
    </select>

</mapper>