<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.whu.medicalbackend.mapper.MedicineMapper">
    <resultMap id="BaseResultMap" type="Medicine">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="user_id" property="userId" jdbcType="BIGINT"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="default_dosage" property="defaultDosage" jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="created_at" property="createdAt" jdbcType="TIMESTAMP"/>
        <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="allProperties">
        id, user_id, name, default_dosage, remark, created_at, updated_at
    </sql>

    <select id="findById" resultMap="BaseResultMap">
        SELECT <include refid="allProperties"/>
        FROM medicine
        WHERE id = #{id}
    </select>

    <!-- 根据用户ID和药品名查询 -->
    <select id="findByUserIdAndName" resultMap="BaseResultMap">
        SELECT <include refid="allProperties"/>
        FROM medicine
        WHERE user_id = #{userId} AND name = #{name}
            LIMIT 1
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO medicine (user_id, name, default_dosage, remark)
        VALUES (#{userId}, #{name}, #{defaultDosage}, #{remark})
    </insert>

    <select id="findAllByUserId" resultMap="BaseResultMap">
        SELECT <include refid="allProperties"/>
        FROM medicine
        WHERE user_id = #{userId}
    </select>

    <delete id="deleteById" parameterType="java.lang.Long">
        DELETE * FROM medicne WHERE id = #{id}
    </delete>

    <update id="update" parameterType="Medicine">
        UPDATE medicine SET name = #{medicine.name}, default_dosage = #{medicine.defaultDosage}, remark = #{medicine.remark}
        WHERE id = #{medicine.id} AND user_id = #{medicine.userId}
    </update>
</mapper>